################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SignAndVerifySignature/v16
/bin/Debug
/obj/Debug
/packages
